* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
  border-radius: 50px;
}

/* Track */
::-webkit-scrollbar-track {

  background: #121215;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 50px;

  background: #04C058;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  border-radius: 50px;

  background: #555;
}
main img{
  animation: animator 3s;
}
@keyframes animator {
    0%{
      transform: translateY(-15px);
    }
    30%{
      transform: translateY(15px);
    }
    70%{
      transform: translateY(-15px);
    }
    100%{
      transform: translateY(0px);
    }
}